* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
main {
  height: 100%;
  width: 100%;
}

/* navbar section*/

#nav {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
}
.nav-left {
  margin-left: 2vw;
}
.nav-right {
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
.nav-right .dropdown img {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
}
.nav-right .dropdown button {
  height: 4vw;
}
.nav-right .dropdown .btn-secondary {
  background-color: #ffffff !important;
  color: black;
}

.coin-div {
  display: flex;

  align-items: baseline;
  gap: 0.7vw;
}
.coin-div img {
  align-self: center;
  height: 1.5vw;
  width: 1.5vw;
}
.coin-div h4 {
  margin: auto;
  font-size: 1.4vw;
  font-weight: normal;
}

.toggle-div {
  display: flex;
  align-items: center;
  gap: 1vw;
  /* background-color: blue; */
  color: #808080;
  font-size: 1.4vw;
}
/* .toggle-div  */
.switch {
  position: relative;
  display: inline-block;
  width: 5vw;
  height: 2.7vw;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #808080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(2.3vw);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* hr section */
hr {
  margin: 0;
}

/* hero section */
#hero {
  width: 100%;
  display: flex;
  gap: 1vw;
}
.left-hero {
  border-right: 1px solid #a2a4a6;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24vw;
  /* background-color: lightblue; */
}
.left-hero button {
  background-image: linear-gradient(to right, #1c0ac7, #796edc);
  color: white;
  padding: 0.3vw 3.5vw;
  /* margin: 0.3vw 2vw; */
  border: none;
  border-radius: 5px;
}
.flex {
  margin: 1vw;
  display: flex;
  align-items: center;
  gap: 0.6vw;
}
.flex h5 {
  font-size: 1.3vw;
  margin: auto 0;
  color: rgb(105, 103, 103);
}
.flex svg {
  height: 1.3vw;
  width: 1.3vw;
  color: rgb(105, 103, 103);
}
.flex span {
  background-color: #2ec971;
  color: white;
  padding: 0 0.5vw;
  font-size: 1vw;
  font-weight: bolder;
  border-radius: 5px;
  /* padding: 0vw 0.2vw; */
}
.flex .h5-div {
  line-height: 0;
}
.blue-color {
  color: blue !important;
}
.hr {
  border: 1px solid black;
  margin: 0 3vw;
}
.middle-hero {
  /* border-right: 1px solid black; */
  padding-left: 2.5vw;
  padding-top: 2vw;
  width: 65%;
  /* background-color: lightgoldenrodyellow; */
}
.middle-flex {
  width: 100%;
  display: flex;
  gap: 1.2vw;
  flex-wrap: wrap;
}
.fullstack {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 45%;
  padding: 1.2vw;
  background-color: #ebf3ff;
  height: fit-content;
}
.fullstack img {
  margin-bottom: 0.6vw;
  border-radius: 10px;
  height: 11vw;
}
.fullstack .heading {
  font-weight: bold;
  font-size: 16px;
  align-self: baseline;
}
.fullstack p {
  font-weight: 500;
  line-height: 1.3;
  font-size: 15px;
}
.fullstack button {
  background-color: #0b66ef;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 0.3vw 1vw;
  align-self: flex-end;
  border-radius: 20px;
}
.pap {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 45%;
  padding: 1.2vw;
  background-color: #ffe6e6;
}
.pap img {
  margin-bottom: 0.6vw;
  border-radius: 10px;
  height: 11vw;
}
.pap .heading {
  font-weight: bold;
  font-size: 16px;
  align-self: baseline;
}
.pap p {
  font-weight: 500;
  line-height: 1.3;
  font-size: 15px;
}
.pap button {
  background-color: #0b66ef;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 0.3vw 1vw;
  align-self: flex-end;
  border-radius: 20px;
}
.banner {
  width: 45%;
  position: relative;
  /* height: 300px;
  width: 300px; */
}
.banner > img {
  display: flex;
  width: 100%;
  height: 13vw;
}
.banner .money {
  position: absolute;
  height: 10vw;
  left: 28%;
  bottom: 57%;
}
.banner button {
  position: absolute;
  top: 9.6vw;
  left: 30%;
  background-color: #0b66ef;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 0.3vw 1vw;
  align-self: flex-end;
  border-radius: 20px;
}
.youtube-channel {
  width: 45%;
}
.youtube-channel iframe {
  width: 100%;
  height: 20vw;
  border-radius: 10px;
}
.trend {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
}
.right-hero {
  width: 36vw;
  position: relative;
}
.placed {
  height: 65%;
  width: 90%;
  overflow: hidden;
  padding: 1.5vw;
  position: absolute;
  top: 2.5vw;
  border: 1px solid black;
  border-radius: 15px;
}
.right-heading {
  color: #0b66ef;
  display: flex;
  align-items: baseline;
  gap: 0.7vw;
}
.right-heading h4 {
  font-size: 2vw;
  font-weight: 700;
}
.right-heading h5 {
  font-size: 1.5vw;
  font-weight: 700;
}
.profile-div {
  padding: 1vw;
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
  flex-wrap: wrap;
}
.profile img {
  height: 6vw;
}
.profile h6 {
  font-size: 1vw;
}
